body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header,
.hero,
.footer {
  background-color: #1F2937;
}

.logo,
.hero-head,
.action-call {
  color: #F9FAF8;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.header,
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.header {
  padding: 16px 160px;
}

.hero {
  padding: 120px 160px;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

.nav,
.hero-sub {
  color: #E5E7EB;
  font-size: 18px;
}

button {
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: inherit;
  color: white;
  flex: none;
  align-self: self-start;
}

button,
.action-call {
  background-color: #3882F6;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.left,
.right {
  align-self: center;
  flex: 1 1 300px;
  max-width: 500px;
}

.info {
  padding: 48px 0 96px;
}

h2 {
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin-bottom: 48px;
}

.info-card {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.info-card p {
  text-align: center;
}

.info-card img {
  border: 5px solid #3882F6;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}

.quote {
  padding: 96px 0;
  background-color: #E5E7EB;
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  font-style: italic;
}

.quote p {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.quote .name {
  font-weight: 600;
  text-align: end;
  margin-top: 16px;
}